In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('constituency_wise_results_2014.csv')
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282

In [5]:
df.columns

Index(['state', 'pc_name', 'candidate', 'sex', 'age', 'category', 'party',
       'party_symbol', 'general_votes', 'postal_votes', 'total_votes',
       'total_electors'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8355 entries, 0 to 8354
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           8355 non-null   object
 1   pc_name         8355 non-null   object
 2   candidate       8355 non-null   object
 3   sex             7845 non-null   object
 4   age             7845 non-null   float64
 5   category        7845 non-null   object
 6   party           8355 non-null   object
 7   party_symbol    8355 non-null   object
 8   general_votes   8355 non-null   int64
 9   postal_votes    8355 non-null   int64
 10  total_votes     8355 non-null   int64
 11  total_electors  8355 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 783.4+ KB

In [7]:
df.describe()

               age  general_votes  postal_votes    total_votes  total_electors
count  7845.000000    8355.000000   8355.000000    8355.000000    8.355000e+03
mean     47.135883   62132.985398    107.407660   62240.393058    1.574132e+06
std      11.902487  140261.650370    436.090305  140535.827087    2.711797e+05
min      25.000000     105.000000      0.000000     105.000000    4.992200e+04
25%      38.000000    1708.000000      0.000000    1708.500000    1.446478e+06
50%      46.000000    4350.000000      1.000000    4354.000000    1.578125e+06
75%      56.000000   14881.000000     13.000000   14886.000000    1.718414e+06
max      93.000000  859973.000000   6792.000000  863358.000000    3.183083e+06

In [8]:
## data analysis

In [9]:
missing vakues
explore bout the num variable
categorical variable
finding relatiomns beetween features

SyntaxError: invalid syntax (1665846523.py, line 1)

In [10]:
df.isnull().sum()

state               0
pc_name             0
candidate           0
sex               510
age               510
category          510
party               0
party_symbol        0
general_votes       0
postal_votes        0
total_votes         0
total_electors      0
dtype: int64

In [12]:
[features for features in df.columns if df[features].isnull().sum()>0]

['sex', 'age', 'category']

In [ ]:
sns.heatmap()